<h1>Create a new article:</h1>

<% if @article.errors.any? %>
    <h2>The Following Errors preventing Article from being saved:</h2>
    <% @article.errors.full_messages.each do |msg| %>
        <ul>
            <li><%= msg %></li>
        </ul>
    <% end %>   
<% end %>



<!-- COMMENTS on FORM_WITH --!>
    <!-- Cuando creo un formulario con form_with, el "scope: :article" me arma un hash (adentro del hash params  --!>
    <!--    donde junta la info que pido con los text_field del usuario --!> 
    <!--    Parameters: {"authenticity_token"=>"[FILTERED]", "article"=>{"title"=>"asd", "description"=>"asd"}, "commit"=>"Save Article"} --!>
    <!-- si saco este scope, el params hash que se pasa al server tiene la data del usuario en simbolos separados dentro del hash params --!>
    <!--   Parameters: {"authenticity_token"=>"[FILTERED]", "title"=>"pepe", "description"=>"rompe", "commit"=>"Save "}}  --!>


<%= form_with scope: :article, url: articles_path, local: true do |f| %>


    <p>
        <%= f.label :titel   %><br/> 
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :description %><br/>
        <%= f.text_area :description %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>
